node_modules


# Ignore unnecessary files in the backend
amplify/backend/tags.json
amplify/backend/api/AdminQueries/*
amplify/backend/api/pawkit/*
!amplify/backend/api/pawkit/schema.graphql
amplify/backend/api/payments/*
amplify/backend/auth/*
amplify/backend/function/*
amplify/backend/storage/*
amplify/backend/types/*

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
